	/*start of the main css*/
	
	
	html {
		font-family: GillSans, Calibri, Trebuchet, sans-serif;
	}
	div.main-list ul li{
		text-decoration:none;
		list-style-type: none;
	}
	a{
		text-decoration: none;
		color:rgb(255, 170, 170);
		font-size:130%;
		
	}
	div.main-list{
		width: 70%;
		margin: 1% auto;
	}
	h2{
		color: #808080;
		box-shadow: 2px 2px 2px #808080;
		display: inline-block;
		padding-right:5px;
	}
	
	li.current a{
		color:#69F0AE;
		
	}
	li.current a:before{
		content:'-';
	}
	 nav{
		background-color:#009688;
	 }
	div.card{
		padding:5px 10px;
	}
	div.card a{
		float:right;
	}
	div.card a:first-child{
		float:left
	}
	footer.hide{
		display:none;
	}
	footer{
		background-color:#009688;
	}
	div.footer-copyright{
		background-color: #00695C;
	}
	iframe{
		overflow:hidden;
	}
	div.modal{
		overflow:hidden;
		height:600px;
	}
	#nprogress .bar {
	  background: #FF5722 !important;

	  position: fixed;
	  z-index: 100;
	  top: 0;
	  left: 0;

	  width: 100%;
	  height: 4px !important;
	}
	span.val{
		color:#ffab40;
	}
	a.waves-effect{
		font-size:100%;
	}
	li.focused{
		background-color:#004D40;
		color:white;
	}
	li.focused a{
		color:white;
	}
	a.fel-luck{
		position:fixed;
	}