	/*start of the main css*/
	
	body{
			background-color:#202020;
			color:rgb(255, 170, 170);
		}
	div.main-list ul li{
		text-decoration:none;
		list-style-type: none;
	}
	a{
		text-decoration: none;
		color:rgb(255, 170, 170);
		font-size:170%;
	}
	
	div.main-list{
		width: 70%;
		margin: 1% auto;
	}
	h2{
		color: #808080;
		box-shadow: 2px 2px 2px #808080;
		display: inline-block;
		padding-right:5px;
	}
	
	li.current a{
		color:#69F0AE;
		
	}
	li.current a:before{
		content:'-';
	}